.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 95vw;
    margin: 5px;
    padding: 5px;
    box-shadow: 10px 50px 60px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
  }
  
  .image-container {
    flex: 1;
    padding: 5px;
  }
  
  .image-container img {
    max-width: 100%;
    border-radius: 20%;
  }
  
  .content {
    flex: 2;
    padding: 30px;
  }
  
  .names {
    text-shadow: 20px 12px 4px rgba(7, 6, 6, 0.925);
    text-transform: uppercase;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: rgb(63, 62, 62);
    margin-bottom: 15px;
  }
  
  .skill {
    color: #333;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
  
  .skills {
    margin-top: 20px;
  }
  
  .skills-list {
    padding: 0;
  }
  
  .skill-hover {
    padding: 10px 0;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  }
  
  .skill-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skills-list li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .image-container {
      order: 2;
      padding: 0;
    }
  
    .content {
      order: 1;
      padding: 20px;
    }
  }
  
  .intro-paragraph {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
  }
  
  .hobbies-paragraph {
    font-size: 16px;
    line-height: 1.4;
    color: rgb(65, 64, 64);
  }
  
  .social-icon {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
        #231557 0%,
        #44107a 100%);
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  
  /* Social-icon-skills */
  .social-icon-skill {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
    #231557 0%,
    #44107a 100%);
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }