.attraction.card{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    background-color: #fe3434;
    width: 95vw;
    justify-content: center;
    /* testing */
    /* border: solid 2px black; */
    /* /testing */
}

.attraction.card .details{
    align-content: center;
    max-width: 65%;
    min-width: 400px;
}

.attraction.card.addresses{
    align-content: flex-start;
}

@media (max-width: 550px){
    .attraction.card .details{
        align-content: center;
        max-width: 85vw;
    }
}

.attraction.card img{
    object-fit: contain;
    border-radius: 5%;
    max-height: 500px;
    max-width: 30vw;
    margin: 1vw;
    align-self: flex-start;
}

.attraction.card.website{
    width: 30vw;
}

.booleans{
    display: flex;
    flex-wrap: wrap;
}

.childFriendly{
    min-width: 155px;
    max-width: 20vw;
}

.indoors{
    min-width: 95px;
    max-width: 20vw;
    margin-right: 2vw;
}

