/* Application CSS */
.App {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
  border: solid 5px #280000;
}

/* Background Colors */
.red-background {
  background-color: #ff0000;
}

.coral-light-background {
  background-color: lightcoral;
}

/* Other Properties */
.rounded {
  border-radius: 5%;
}

.homepage-card-header {
  background-color: #FF4C4C;
  border-radius: 5px;
  border: solid 2px #280000;
  width: 100%;
  margin-bottom: 0px;
}