/* Application CSS */
.App {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 0.5%;
  padding: 5px;
  /* margin-top: 10vh; */
}

@media (max-width: 810px) {
  .App {
    margin-top: 17vh;
  }
}

@media (max-width: 655px) {
  .App {
    margin-top: 22vh;
  }
}

/* Attractions CSS */
.attraction-card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5%;
  width: 99%;
  justify-content: center;
  margin-bottom: 5px;
}

.red-background {
  background-color: #fe3434;
}

.coral-light-background {
  background-color: lightcoral;
}

.attraction-card-details {
  align-content: center;
  border-radius: 5%;
  justify-content: center;
  max-width: 65vw;
  min-width: 400px;
  padding: 5px;
}

.attraction-card-addresses {
  align-content: center;
  justify-content: center;
}

@media (max-width: 550px) {
  .attraction-card-details {
    align-content: center;
    max-width: 85vw;
  }
}

.attraction-card img {
  border: lightcoral 2px double;
  object-fit: contain;
  border-radius: 5%;
  max-height: 500px;
  max-width: 30vw;
  margin: 1vw;
  align-self: flex-start;
}

.attraction-card .button-container{
  align-self: center;
}

.attraction-card-button{
  margin-left: 10px;
}

.attraction-card-website {
  width: 30vw;
  text-overflow: ellipsis;
}

.attraction-card-booleans {
  display: flex;
  flex-wrap: wrap;
}

.attraction-card-childFriendly {
  min-width: 155px;
  max-width: 20vw;
}

.attraction-card-indoors {
  min-width: 95px;
  max-width: 20vw;
  margin-right: 2vw;
}

.attractions-details-checkbox{
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 25vw;
}

.attractions-details-checkbox input{
  min-width: 25px;
  max-width: 50px;
}

.attractions-details-checkbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}