/* Application CSS */
.App {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 0.5%;
  padding: 5px;
  margin-bottom: 20px;
}

/* Attractions CSS */
.attraction-card {
  display: flex;
  flex-wrap: column;
  border-radius: 5%;
  width: 100%;
  max-width: 93vw;
  justify-content: center;
  margin-bottom: 5px;
  padding: 5px;
}

.red-background {
  background-color: #fe3434;
}

.coral-light-background {
  background-color: lightcoral;
}

.attraction-card-details {
  align-content: center;
  border-radius: 5%;
  justify-content: center;
  width: 85vw;
  padding: 5px;
  margin: 5px;
  
}

.attraction-card-addresses {
  display: flex;
  align-self: center;
  border: solid black 1px;
}

.attraction-card img {
  border: lightcoral 2px double;
  object-fit: contain;
  border-radius: 5%;
  max-height: 500px;
  max-width: 30vw;
  min-width: 200px;
  margin: 5px;
  align-self: flex-start;
}

.attraction-card .button-container{
  align-self: center;
  border: solid black 1px;
}

.attraction-card-booleans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  border: solid black 1px;
  max-width: 300px;
}

.attraction-card-button{
  margin: 5px;
  
}

.attraction-card-full-address{
  display: auto;
  align-content: start;
  border: solid black 1px;
  height: fit-content;
}

.attraction-card-website {
  display: flex;
  justify-content: center;
  height: 20px;
  border: solid black 1px;
}

.attraction-card-childFriendly {
  width: 155px;
}

.attraction-card-indoors {
  width: 95px;
  margin-right: 2vw;
}

.attractions-details-checkbox{
  display: flex;
  flex-wrap: nowrap;
}

.attractions-details-checkbox input{
  min-width: 25px;
  max-width: 50px;
}

.attractions-details-checkbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}