:root {
  --navbar-height: 80px;
}

@media (max-width: 900px) {
  :root {
    --navbar-height: 125px;
  }
}

.nav-header {
  margin-bottom: var(--navbar-height);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 0.2rem;
  background: rgba(40, 0, 0, 0.8);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1030;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
  transition: 0.3s;
}

#Move-To-Footer {
  display: none;
  text-decoration: none;
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  #Move-To-Footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    color: #027afa;
    margin-bottom: 10px;
    /* background-color: #027afa; */
  }
}

.nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ff9898;
  transition: color 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: red;
}

@media (max-width: 810px) {
  .logo {
    font-size: 1rem;
    font-weight: bold;
  }

  .navbar {
    justify-content: center;
  }
}

/* last minute CSS nav-btns */
.nav-btn {
  background-color: #280000;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: #ff9898;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 6px;
  color: #ff0000;
  cursor: pointer;
}

.logo:hover {
  font-weight: bold;
  color: #ff4c4c;
  text-transform: uppercase;
}

/* last minute Styling */
.word {
  font-weight: bold;
  font-size: 30px;
  color:white;
}
.backward-letter {
  display: inline-block;
  transform: scaleX(-1);
  font-size: 25px;
  color:#ff0000;
}

.big-letter{
  display: inline-block;
  font-size: 50pt;
  font-family: 'Fuggles', serif;
  margin-top: -30px;
}

@media (max-width: 900px) {
  .big-letter{
    font-size: 35pt;
  }

  .word{
    font-size: 16pt;
    
  }
}